name: CI/CD Todo Application

on:
  push:
    branches: [ main ]

env:
  DOCKER_HUB_USER: vineethsankre
  IMAGE_BASE: todo-app
  NAMESPACE: todons

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
    # ---------------- CHECKOUT ----------------
    - name: Checkout code
      uses: actions/checkout@v4

    # ---------------- SONARQUBE SCAN ----------------
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v2
      env:
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    # ---------------- QUALITY GATE ----------------
    - name: SonarQube Quality Gate
      uses: sonarsource/sonarqube-quality-gate-action@v1.1.0
      timeout-minutes: 2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    # ---------------- DOCKER BUILD ----------------
    - name: Build Docker Image
      run: |
        docker build -t $DOCKER_HUB_USER/$IMAGE_BASE:build-${{ github.run_number }} .

    # ---------------- DOCKER LOGIN ----------------
    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    # ---------------- DOCKER PUSH ----------------
    - name: Push Docker Image
      run: |
        docker push $DOCKER_HUB_USER/$IMAGE_BASE:build-${{ github.run_number }}

    # ---------------- KUBECONFIG ----------------
    - name: Configure kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > ~/.kube/config

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}


    # ---------------- EKS DEPLOY ----------------
    - name: Deploy to EKS using Helm
      run: |
        helm upgrade --install todo-release ./helm \
          --namespace $NAMESPACE \
          --create-namespace \
          --set image.repository=$DOCKER_HUB_USER/$IMAGE_BASE \
          --set image.tag=build-${{ github.run_number }} \
          --set service.type=LoadBalancer

        sleep 60
        kubectl get svc -n $NAMESPACE
